<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="poids">
            <h2><span>Poids</span> {{poids.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Valeur</span></dt>
                <dd>
                    <span>{{poids.valeur}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{poids.date}}</span>
                </dd>
                <dt><span>Chevre</span></dt>
                <dd>
                    <div *ngIf="poids.chevreId">
                        <a [routerLink]="['/chevre', poids.chevreId, 'view']">{{poids.chevreNom}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/poids', poids.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
