<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="evenementChevre">
            <h2><span>Evenement Chevre</span> {{evenementChevre.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{evenementChevre.date}}</span>
                </dd>
                <dt><span>Evenement</span></dt>
                <dd>
                    <div *ngIf="evenementChevre.evenementId">
                        <a [routerLink]="['/evenement', evenementChevre.evenementId, 'view']">{{evenementChevre.evenementNom}}</a>
                    </div>
                </dd>
                <dt><span>Chevre</span></dt>
                <dd>
                    <div *ngIf="evenementChevre.chevreId">
                        <a [routerLink]="['/chevre', evenementChevre.chevreId, 'view']">{{evenementChevre.chevreNom}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/evenement-chevre', evenementChevre.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
