<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="evenement">
            <h2><span>Evenement</span> {{evenement.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{evenement.nom}}</span>
                </dd>
                <dt><span>Occurence</span></dt>
                <dd>
                    <span>{{evenement.occurence}}</span>
                </dd>
                <dt><span>Evenement</span></dt>
                <dd>
                    <div *ngIf="evenement.evenementId">
                        <a [routerLink]="['/evenement', evenement.evenementId, 'view']">{{evenement.evenementNom}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/evenement', evenement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
