<div>
    <h2 id="page-heading">
        <span>Parc Chevres</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-parc-chevre" [routerLink]="['/parc-chevre/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Parc Chevre
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="parcChevres?.length === 0">
        <span>No parcChevres found</span>
    </div>
    <div class="table-responsive" *ngIf="parcChevres?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Entree</span></th>
            <th><span>Sortie</span></th>
            <th><span>Parc</span></th>
            <th><span>Chevre</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let parcChevre of parcChevres ;trackBy: trackId">
                <td><a [routerLink]="['/parc-chevre', parcChevre.id, 'view' ]">{{parcChevre.id}}</a></td>
                <td>{{parcChevre.entree | date:'mediumDate'}}</td>
                <td>{{parcChevre.sortie | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="parcChevre.parcId">
                        <a [routerLink]="['../parc', parcChevre.parcId , 'view' ]" >{{parcChevre.parcNom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="parcChevre.chevreId">
                        <a [routerLink]="['../chevre', parcChevre.chevreId , 'view' ]" >{{parcChevre.chevreNom}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/parc-chevre', parcChevre.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/parc-chevre', parcChevre.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'parc-chevre', { outlets: { popup: parcChevre.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
